@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
/* :root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
} */
:root {
    --main-color        : #000;
    --title-color       : #541690;
    --light-text-color  : #F7F7F7;
    --body-color        : #be48ff;
    --sm: 12px;
    --md: 16px;
    --lg: 20px;
    --xl: 24px;
}
/* :root {
    --main-color       : #1083D6;
    --title-color      : #2A3B47;
    --text-color       : #697477;
    --light-text-color : #A0A7AC;
    --body-color : #FBFBFE;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
} */
body{
    color: var(--title-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
    /* height: 10   0vh; */
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr min-content; */
}
/* header, main, aside, footer{
    padding: .5em;
} */
/* .imagen-fondo{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
} */
/* header{
    background-color: red;
    grid-column: 1 / span 2;
} */
.menu-principal {
    display: grid;
    height: 100vh;
    place-items: center;
}
.parent {
    position: relative;
    bottom: 0;
    left: 0;
}
.parent img:nth-child(1){
    height: 120px;
    opacity: .25;
    position: fixed;
    top: 0;
    right: 0;
}
.parent img:nth-child(2){
    height: 120px;
    opacity: .35;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.inicio-juego{
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100vh;
}
.titulo{
    font-size: var(--lg);
    font-family: 'Fredoka One', cursive;
    grid-column: 1 /span 2;
    margin-bottom: 0;
}
.subtitulo, .titulo-instrucciones{
    color: var(--body-color);
    background-color: var(--main-color);
    font-family: 'Fredoka One', cursive;
    border-radius: 8px;
    height: 60px;
    margin-top: 84px;
    padding-block: 20px;
    box-sizing: border-box;
    font-size: var(--lg);
    padding-left: 40px;
}
.logo{
    height: 160px;
    position: relative;
    top: 6px;
}
.contenedor-boton-inicio{
    display: flex;
    place-items: center;
    position: relative;
    flex-direction: column;
    grid-column: 1 /span 2;
}
.contenedor-boton-inicio img{
    width: 100%;
    height: 230px;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 20px;
    grid-column: 1 /span 2;
}
.boton-inicio{
    color: var(--light-text-color);
    border-color: var(--light-text-color);
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    width: 85px;
    border-radius: 50%;
    margin-bottom: 15px;
    height: 85px;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    position: absolute;
}
.boton-inicio:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}
.boton-instrucciones, .boton-instruccion-inicio {
    color: var(--title-color);
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: 1px solid var(--title-color);
    width: 100%;
    height: 60px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 10px;
    grid-column: 1 /span 2;
}
.boton-instrucciones, .boton-instruccion-inicio:hover{
    color: var(--light-text-color);
    background-color: var(--title-color);
}
/* instrucciones */
.instruciones-juego {
    grid-template-columns: 1fr auto;
    height: 100vh;
}
/* .titulo-instrucciones {
    font-size: var(--lg);
    margin-left: 40px;
    font-family: 'Fredoka One', cursive;
} */
.instrucciones {
    color: var(--body-color);
    background-image: url("./assets/gatoReina.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    padding: 25px 25px 0 0;
    box-sizing: border-box;
    grid-column: 1 /span 2;
}
.instrucciones ul {
    max-width: 420px;
    list-style: none;
    padding-left: 25px;
}
.instrucciones ul li p span {
    font-weight: bold;
}
/* juego */
.contenedor-juego {
    grid-template-rows: 1fr;
    text-align: center;
}
.titulo-juego {
    font-size: var(--xl);
    font-family: 'Fredoka One', cursive;
}
.referencia-juego {
    font-size: var(--md);
    font-family: 'Fredoka One', cursive;
}
.referencia-acertijo {
    background-color: var(--main-color);
    block-size: 200px;
    /* place-items: center;
    flex-direction: column; */
}
.referencia-acertijo img{
    height: 100%;
}
/* .evento-juego {
    position: sticky;
    top: 0;
} */
.reiniciar {
    display: block;
    border-bottom: 10px;
}
#mensaje-final {
    font-size: var(--lg);
    font-family: 'Fredoka One', cursive;
}
.reiniciar button {
    color: var(--title-color);
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--title-color);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 20px ;
}
.reiniciar button:hover{
    color: var(--light-text-color);
    background-color: var(--title-color);
}
/* .evento-juego {
    top: 100px;
    text-align: center;
} */
/* .evento-referencia {
    text-align: center;
} */
.tarjeta-gato figure {
    margin: 0;
}
.tarjeta-gato figure img {
    width: 200px;
    height: 200px;
}
.tarjeta-gato div p {
    font-weight: bold;
    font-size: var(--sm);
    font-family: 'Fredoka One', cursive;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-color);
}
.tarjera-letra {
    display: inline-flex;
}
.carta {
    color: var(--title-color);
    font-size: var(--lg);
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 53px;
    border-radius: 6px;
    font-weight: bold;
    margin: 2px;
}
.form ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* .contenedor-teclado {
    text-align: center;
} */
.teclado {
    background-color: var(--main-color);
    background-image: url("./assets/reina.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width:100%;
    padding: 5px 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    margin-bottom: 25px;
    border-radius: 10px;
}
.letra-teclado {
    position: relative;
    text-align: center;
}
.letra{
    background: rgba(255, 255, 255, 0.2);
    color: var(--body-color);
    font-family: 'Fredoka One', cursive;
    width: 6%;
    height: 45px;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 640px) {
    .contenedor-juego {        
        grid-template-columns: 1fr 1fr;
    }
    #titulo-juego-principal {
        grid-column: 1 / span 2;
    }
    .contenedor-teclado {
        grid-column: 1 / span 2;
    }
    .referencia-acertijo {
        display: block;
        text-align: center;
    }
    .evento-juego {
        position: relative;
        top: 0;
    }
}

/* aside{
    background-color: blue;
}
footer{
    background-color: var(--hospital-green);
    grid-column: 1 / span 2;
} */